body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: Arial, sans-serif;
    color: white;
}

.clock-container {
    text-align: center;
    background: #222;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00ffcc;
}

#clock {
    font-size: 40px;
    margin: 15px 0;
    letter-spacing: 3px;
}

#date {
    font-size: 18px;
    color: #00ffcc;
}body {
    font-family: Arial;
    margin: 20px;
}

.products {
    display: flex;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 150px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item {
    margin-bottom: 10px;
}